
body {
    background-color: #369640;
    background-image: url(img/2_fundo.jpg);
    background-size: 500px;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

div {
    background-color: #369640;
}

button {
    background-color: #06a313;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 50%;
}