
body {
    background-color: #369640;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #06a313;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}